@model WarehouseModel

<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "customer-warehousemanagers-grid",
        UrlRead = new DataUrl("ManagedWarehousesSelect", "Customer", new RouteValueDictionary { [nameof(Model.CustomerWarehouseSearchModel.WarehouseId)] = Model.CustomerWarehouseSearchModel.WarehouseId }),
        UrlDelete = new DataUrl("AddressDelete", "Customer", new RouteValueDictionary { [nameof(Model.CustomerWarehouseSearchModel.WarehouseId)] = Model.CustomerWarehouseSearchModel.WarehouseId }),
        Length = Model.CustomerWarehouseSearchModel.PageSize,
        LengthMenu = Model.CustomerWarehouseSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(CustomerModel.FullName))
            {
                Title = T("Profile.FullName").Text
            },
            new ColumnProperty(nameof(CustomerModel.Email))
            {
                Title = T("Admin.Customers.Customers.Fields.Email").Text
            },
            new ColumnProperty(nameof(CustomerModel.Company))
            {
                Title = T("Admin.Customers.Customers.Fields.Company").Text
            },           
            new ColumnProperty(nameof(CustomerModel.Id))
            {
                Title = T("Admin.Common.Delete").Text,
                Width = "100",
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                ClassName =  NopColumnClassDefaults.Button
            }
        }
    })
</div>
<div class="panel-body">
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("ManagerAdd", new { customerId = Model.Id })'">
        @T("Admin.Configuration.Shipping.Warehouses.AddNewManager")
    </button>
</div>
