@model ManageInventoryModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Inventories").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Inventories");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Catalog.Inventories")
    </h1>
    <div class="pull-right">
        <a asp-action="UpdatePurchase" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Catalog.Inventories.AddPurchasingRecord")
        </a>
    </div>
</div>

@await Html.PartialAsync("_InventorySearch", Model.InventorySearchModel)

@await Html.PartialAsync("_InventoryPurchase", Model.InventoryPurchaseSearchModel)


