name: .NET

on:
  push:
    branches: [ lorg-dev ]
  pull_request:
    branches: [ lorg-dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1
    - name: Dotnet Publish
      run: dotnet publish  src/NopCommerce.sln -c Release -o deploy
    - name: Copy via ssh
      uses: garygrossgarten/github-action-scp@release
      with:
        local: /home/runner/work/nopCommerce/nopCommerce/src/deploy/
        remote: ${{ secrets.REMOTE_TARGET }}
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        privateKey: ${{ secrets.REMOTE_SSH_KEY }}
