name: .NET

on:
  push:
    branches: [ lorg-dev ]
  pull_request:
    branches: [ lorg-dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1
    - name: Restore dependencies
      run: dotnet restore src/NopCommerce.sln
    - name: Build
      run: dotnet build --no-restore
